*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
    box-sizing: border-box;
}

body{
    background: #07141d;
}

#accordioan{
    margin: 100px auto;
    width: 600px;
}
#accordioan li{
    list-style: none;
    width:  100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}

#accordioan li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
    color: #c20000;
}
#accordioa li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: #333;
}

#accordioa label + input [type="radio"] {
    display: none;
}
#accordioa .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordioa label + input [type="radio"] :checked + .content{
    max-height: 400px;

}